{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
eBoardMeeting | Recover Password
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/home.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}

{% block content %}
    {% include 'Common/Nav/home.html' %}
    <div class="container">
      <form class="form-signin" method="POST" action="/recoverpassword">
        {% include 'Common/messages.html' %}
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Recover Password</button>
      </form>
    </div> <!-- /container -->
{% endblock %}