<h4 class="status-message">Meeting Documents</h4>
<br />
{% if files %}
    {% if userType %}
        {% if userType == 'ADMIN' %}
            <div class="row" style="background-color:black; color:white;">
                <div class="col-sm-10">
                    <p>DOCUMENT NAME</p>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            {% for file in files %}
                <div class="row">
                    <div class="col-sm-10">
                        <p>{{ file.fileName }}</p>
                    </div>
                    <div class="col-sm-1">
                        <a href={{ file.viewLink }}>View</a>
                    </div>
                    <div class="col-sm-1">
                        <a href={{ file.deleteLink }}>Delete</a>
                    </div>
                </div>
                <hr />
            {% endfor %}
        {% else %}
            <div class="row" style="background-color:black; color:white;">
                <div class="col-sm-11">
                    <p>DOCUMENT NAME</p>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            {% for file in files %}
                <div class="row">
                    <div class="col-sm-11">
                        <p>{{ file.fileName }}</p>
                    </div>
                    <div class="col-sm-1">
                        <a href={{ file.viewLink }}>View</a>
                    </div>
                </div>
                <hr />
            {% endfor %}
        {% endif %}
    {% else %}
        <div class="row" style="background-color:black; color:white;">
            <div class="col-sm-10">
                <p>DOCUMENT NAME</p>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
            </div>
        </div>
        {% for file in files %}
            <div class="row">
                <div class="col-sm-10">
                    <p>{{ file.fileName }}</p>
                </div>
                <div class="col-sm-1">
                    <a href={{ file.viewLink }}>View</a>
                </div>
                <div class="col-sm-1">
                    <a href={{ file.deleteLink }}>Delete</a>
                </div>
            </div>
            <hr />
        {% endfor %}
    {% endif%}
{% else %}
    <h4>No files</h4>
{% endif %}